Hive 和Mysql 一样，都对 大小写不敏感

![title](img/Hive&Sql.png)

# Hive不支持等值连接

SQL中对两表内联可以写成：

In [ ]:
select * from dual a,dual b where a.key = b.key;

Hive中应为

In [ ]:
select * from dual a join dual b on a.key = b.key;

# IS [NOT] NULL

SQL中null代表空值, 值得警惕的是, 在HiveQL中String类型的字段若是空(empty)字符串, 即长度为0, 那么对它进行IS NULL的判断结果是False.

hive不支持INSERT INTO 表 Values（）, UPDATE, DELETE操作
这样的话，就不要很复杂的锁机制来读写数据。
INSERT INTO syntax is only available starting in version 0.8。INSERT INTO就是在表或分区中追加数据。

# Data Manipulation Language (DML操作)

传统意义的DML包括Insert，delete，update操作
Hive不支持行级别的Insert，delete,update操作，将数据放入表中的唯一办法是批量载入（bulk load）,或使用Hive以外的其他方法。作为数据仓库平台，这种操作逻辑尚可接受。

# Hive查询子表查询需要加名称

In [ ]:
 select count(*) from
    (select deptid ,count(*) as num  from tmp_kn1_ehr_person_organization_20180817 where one_department is not Null
     group by   deptid ) t2